#upload-tab {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1rem;
  margin: 1rem;
  gap: 100px;
  height: 80vh;
}

.btn-group {
  height: 100%;
}

.btn-group button {
  height: 50%;
}

.btn-group img {
  height: 90%;
}

.image-container {
  height: 100%;
  width: 100%;
  border: 1px dashed black;
  border-radius: 20px;
}

.image-gallery {
  margin: 30px;
  height: 100%;
  position: relative;
}

#upload-icon {
  display: block;
}

#no-image {
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

